# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.iml

# Env
.env

# Modelos (arquivos grandes — montar via volume)
*.pt
unet_seg.pt
best_yolo11
models/unet_seg.pt
models/best_yolo11

# Testes
.pytest_cache/
.coverage
htmlcov/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
